<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Todo</title>
</head>
<body>
<h2>Add Todo</h2>
<form th:action="@{/todos/add}" th:object="${todo}" method="post">
    <label>Title: <input type="text" th:field="*{title}" required></label><br>
    <label>Due Date: <input type="date" th:field="*{dueDate}" required></label><br>
    <label>Memo: <textarea th:field="*{memo}"></textarea></label><br>
    <button type="submit">Add Todo</button>
</form>
</body>
</html>